body {
  padding-left: 15%;
  padding-right: 15%;
}

header {
  display: grid;
  width: 100%;
  height: 150px;
  background-color: blue;
}

header div {
  align-content: center;
  background-color: bisque;
}

header div.name {
  font-size: x-large;
  align-self: end;
  text-align: center;
}

header div.job {
  font-size: large;
  align-self: start;
  text-align: center;
}

div.menu-bar {
  font-size: medium;
  align-self: flex-end;
  text-align: center;
}

.menu-list {
  display: grid;
  grid-template-areas: "a a a";
  margin-top: 10px;
  margin-bottom: 10px;
}

.menu-list.menu {
  grid-area: a;
  grid-template-columns: 200px;
}

.contents {
  background-color: blueviolet;
}